---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import body from '{{prefix}}html/{{stem}}.html?raw';
import source from '{{prefix}}qmd/{{stem}}.qmd?raw';
const headings = {{headings_js}};
---
<StarlightPage frontmatter={{ title: "{{title}}" }} headings={headings}>
  <div class="split-wrapper">
    <div class="split-rendered">
      <Fragment set:html={body} />
    </div>
    <pre class="split-source"><code>{source}</code></pre>
  </div>
</StarlightPage>
